In [14]:
#Illinois unemployment
import bokeh
from collections import OrderedDict

from bokeh.sampledata import us_counties, unemployment
from bokeh.plotting import figure, show, output_file, ColumnDataSource
from bokeh.models import HoverTool

state = "il"

county_xs=[
    us_counties.data[code]['lons'] for code in us_counties.data
    if us_counties.data[code]['state'] == state
]
county_ys=[
    us_counties.data[code]['lats'] for code in us_counties.data
    if us_counties.data[code]['state'] == state
]

colors = ["#F1EEF6", "#D4B9DA", "#C994C7", "#DF65B0", "#DD1C77", "#980043"]

county_colors = []
county_names = []
county_rates = []
for county_id in us_counties.data:
    if us_counties.data[county_id]['state'] != state:
        continue
    rate = unemployment.data[county_id]
    idx = min(int(rate/2), 5)
    county_colors.append(colors[idx])
    county_names.append(us_counties.data[county_id]['name'])
    county_rates.append(rate)

source = ColumnDataSource(
    data = dict(
        x=county_xs,
        y=county_ys,
        color=county_colors,
        name=county_names,
        rate=county_rates,
    )
)


output_file("illinois.html", title="illinois.py example")

TOOLS="pan,wheel_zoom,box_zoom,reset,hover,save"

p = figure(title="Illinois Unemployment 2009", tools=TOOLS)

p.patches('x', 'y',
    fill_color='color', fill_alpha=0.7,
    line_color="white", line_width=0.5,
    source=source)

hover = p.select(dict(type=HoverTool))
hover.point_policy = "follow_mouse"
hover.tooltips = OrderedDict([
    ("Name", "@name"),
    ("Unemployment rate)", "@rate%"),
    ("(Long, Lat)", "($x, $y)"),
])

show(p)

In [15]:
#bokeh.sampledata.download()

In [38]:
#Illinois School data
from __future__ import division

import numpy as np
import pandas as pd

from bokeh.plotting import figure, HBox, output_file, show, VBox
from bokeh.models import Range1d

Schools = pd.read_csv("Illinois Schools and Energy CSV - 5.csv")

# create some data using python lists
x1 = Schools["latitude"]
y1 = Schools["longitude"]

# EXERCISE: output static HTML file
output_file("scatter.html")

TOOLS="pan,wheel_zoom,box_zoom,reset,save"

latmin = 28.574148 
latmax = 42.427397 
lonmin = -91.399203
lonmax = -81.817132

# EXERCISE: create two Range1d objects to reuse in the plots. Use the [-10, 10]
# for the bounds. Note: Range1d's are initialized like: Range1d(start=0, end=1)
xr = Range1d(start=latmin, end=latmax)
yr = Range1d(start=lonmin, end=lonmax)

# EXERCISE: Plot all the sets of points on different plots p1, p2, p3. Use the
# ranges above for `x_range` and `y_range` for each figure. Set different colors
# as well. Try setting line_color and fill_color instead of just color. You can
# also set alpha, line_alpha, and fill_alpha if you like. Set tools to TOOLS on
# the figures. Change the value of the 'marker' parameter, "circle", "square",
# "triangle", etc. One example is given
p1 = figure(x_range=xr, y_range=yr, tools=TOOLS, plot_width=300, plot_height=300)
p1.scatter(x1, y1, size=12, color="red", alpha=0.5)

# show the plots arrayed in a layout
show((VBox(p1)))

In [40]:
import pandas as pd
Schools = pd.read_csv("Illinois Schools and Energy CSV - 5.csv")

Schools.describe()

,latitude,longitude,Biology,Chemistry,Physics,Environmental Science,Engineering
count,105.000000,105.000000,104.000000,104.000000,105.000000,78.000000,11.000000
mean,40.200877,-89.004632,2.134615,2.250000,2.771429,1.935897,1.818182
std,1.658851,1.154265,1.070865,1.068071,0.624148,1.220387,1.078720
min,28.574148,-91.399203,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.683911,-89.675853,1.000000,1.000000,3.000000,1.000000,1.000000
50%,40.421346,-89.022043,3.000000,3.000000,3.000000,3.000000,2.000000
75%,41.117261,-88.316868,3.000000,3.000000,3.000000,3.000000,3.000000
max,42.427397,-81.817132,3.000000,3.000000,3.000000,3.000000,3.000000

In [1]:
#Crime
from __future__ import division

import numpy as np
import pandas as pd

from bokeh.plotting import figure, HBox, output_file, show, VBox
from bokeh.models import Range1d

Crime = pd.read_csv("/Users/dkjayco/Downloads/Git/Projects-Repo/RDCEP 2015/City_Data/CrimeData_1_1_2014-8_7_15.csv")

# create some data using python lists
x1 = Crime["Latitude"]
y1 = Crime["Longitude"]

# EXERCISE: output static HTML file
output_file("scatter.html")

TOOLS="pan,wheel_zoom,box_zoom,reset,save"

LatMin = 41.644713
LatMax = 42.022646
LonMin = -87.934325
LonMax = -87.524678

# EXERCISE: create two Range1d objects to reuse in the plots. Use the [-10, 10]
# for the bounds. Note: Range1d's are initialized like: Range1d(start=0, end=1)
xr = Range1d(start=-10, end=10)
yr = Range1d(start=-10, end=10)

# EXERCISE: Plot all the sets of points on different plots p1, p2, p3. Use the
# ranges above for `x_range` and `y_range` for each figure. Set different colors
# as well. Try setting line_color and fill_color instead of just color. You can
# also set alpha, line_alpha, and fill_alpha if you like. Set tools to TOOLS on
# the figures. Change the value of the 'marker' parameter, "circle", "square",
# "triangle", etc. One example is given
p1 = figure(x_range=xr, y_range=yr, tools=TOOLS, plot_width=400, plot_height=400)
p1.scatter(x1, y1, size=12, color="red", alpha=0.5)

# show the plots arrayed in a layout
show(HBox(p1))

In [43]:
import pandas as pd

Crime = pd.read_csv("/Users/dkjayco/Downloads/Git/Projects-Repo/RDCEP 2015/City_Data/CrimeData_1_1_2014-8_7_15.csv")

Crime.describe()

,ID,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Latitude,Longitude
count,419182.000000,419182,419182,419182.000000,414344.000000,419179.000000,419181.000000,414344.000000,414344.000000,414344.000000,414344.000000
mean,9796266.701318,0.2801671,0.1537375,1143.067245,11.196166,22.746810,37.636360,1164363.076642,1885300.101392,41.840864,-87.672387
std,445033.122229,0.4490813,0.3606974,689.670685,6.886301,13.732369,21.359435,16569.810725,31258.009550,0.085975,0.060309
min,21212.000000,False,False,111.000000,1.000000,1.000000,0.000000,1092711.000000,1813949.000000,41.644713,-87.934325
25%,9633767.500000,0,0,612.000000,6.000000,10.000000,23.000000,1152261.000000,1858387.750000,41.766775,-87.716372
50%,9808264.500000,0,0,1022.000000,10.000000,23.000000,32.000000,1165874.500000,1890918.000000,41.856353,-87.666585
75%,9991901.500000,1,0,1651.000000,16.000000,34.000000,57.000000,1176392.000000,1908261.000000,41.903856,-87.628082
max,10183361.000000,True,True,2535.000000,31.000000,50.000000,77.000000,1205079.000000,1951533.000000,42.022646,-87.524678

In [ ]:
LatitudeMin = 41.644713
LatitudeMax = 42.022646
LongitudeMin = -87.934325
LongitudeMax = -87.524678