In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("Past_Year.csv")

In [3]:
df.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10161455,HY349612,07/01/2014 12:00:00 AM,053XX S DREXEL AVE,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,5,41,06,1183114,1869621,2014,07/27/2015 12:46:33 PM,41.797439,-87.604023,"(41.797439371, -87.604022633)"
1,10116693,HY305422,07/01/2014 12:00:00 AM,058XX S HOMAN AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,14,63,06,1154666,1865886,2014,06/22/2015 12:40:19 PM,41.787805,-87.708445,"(41.78780494, -87.708445456)"
2,10072332,HY260886,07/01/2014 12:00:00 AM,032XX W 27TH ST,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,False,True,...,22,30,17,1155277,1885850,2014,05/25/2015 12:37:36 PM,41.842577,-87.705670,"(41.842576585, -87.705670477)"